name: mxonlive
description: A free, server-driven IPTV Live TV application.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.1  # For fetching server JSON and M3U
  shared_preferences: ^2.3.2  # For caching config and playlist
  video_player: ^2.9.1  # For streaming video
  chewie: ^1.7.5  # Enhanced video player controls
  intl: ^0.19.0  # For date formatting if needed
  url_launcher: ^6.3.0  # For opening external links
  shimmer: ^3.0.0  # For skeleton loading animations

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
